html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "PT Mono", monospace;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #797979;
    color: rgb(217, 255, 202);
}

.header h3 {
    text-align: center;
    font-size: 32px;
    margin: 15px 0 10px 0;
}

.container {
    display: flex;
    flex-flow: column;
    width: 70%;
}

.container .item-head {
    display: flex;
    padding: 10px 0;
    font-weight: bold;
}

.container .item-body {
    display: flex;
    width: 100%;
}

.panel {
    display: flex;
    flex-flow: column;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.panel.danger {
    color: white;
    background-color: #4385ff;
}

.panel.danger i {
    color: #d0ff00;
    font-weight: bold;
}

.selector {
    display: flex;
    width: 100%;
    padding: 5px;
    border: 1px solid #9e9e9e;
    border-radius: 4px;
}

.selector:active,
.selector:focus {
    box-shadow: 0 0 3px 0 black;
}

textarea.selector {
    height: 150px;
    resize: none;
}

.btn-panel {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    padding: 10px 0;
}

.btn-panel .btn {
    padding: 5px 10px;
    background-color: transparent;
    border: 3px solid #9e9e9e;
    border-radius: 4px;
    cursor: pointer;
}

.btn-panel .btn-info {
    border-color: #3a6efd;
    color: #0044ff;
    transition: 0.1s background-color linear, 0.1s color linear;
}

.btn-panel .btn-info:hover {
    background-color: #3a6efd;
    color: white;
}
